@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Montserrat:wght@400;500;600;700;900&family=Source+Serif+Pro:wght@400;900&display=swap');
.About{
    background-color: #F9F9F9;
    min-height: 100vh;
    display: flex;
    max-width: 100vw; 
}

.about-content{
    z-index: 0;
    width: 100%;
    max-width:1000px;
    display: flex;
    min-width: fit-content;
    padding-top: 10rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    margin-left: auto;
    margin-right: auto;
  
}

.my-picture{
    width: 400px; 
    height: 400px;
    min-width: 300px;
    border-radius: 50%;
    margin-left: 3%;
    margin-left: auto;
    margin-right: auto;
}

.about-me-text-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: -5%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

.interests{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
}

@media screen and (max-width: 819px) {
    body{
        overflow-x: hidden;
    }
    .about-content{
        flex-direction: column;
    }
    .about-me-text-container{
        width: 100%;
        margin: auto;
        margin-top: 3%;
        margin-bottom: 5%;
    }
    h1{
        margin: 0;
    }
    .about-me{
        font-size: 2rem;
        text-align: center;
    }

    .about-me-text{
        font-size: 1.2rem;
        text-align: justify;
    }
    .my-picture{
        width: 300px;
        height: 300px;
        margin: auto;
    }

}