@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Montserrat&family=Source+Serif+Pro:wght@400;900&display=swap');

body{
  overflow-x:hidden; 
}

.header{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.header-text{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
}


@media screen and (max-width: 819px) {
  .body{
    background-color: #f9f9f9;
  }
  .about-content{
      flex-direction: column;
  }
  .about-me-text-container{
      width: 100%;
      margin: auto;
      margin-top: 3%;
  }
  h1{
      margin: 0;
  }
  .about-me{
      font-size: 2rem;
      text-align: center;
  }

  .about-me-text{
      font-size: 1.2rem;
      text-align: justify;
  }
  .my-picture{
      width: 300px;
      height: 300px;
      margin: auto;
  }
}